.contenedor{
    /* border: 2px solid red; */
    display: grid;
    grid-template-rows: 1fr auto;

}

.header-home{
    margin-left: 30px;
}

.carteras-contenedor{
    
}

.subtitulo{
    /* border: 2px solid green; */
    background-color: rgb(110, 170, 172);
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.contenedor-cards{
    margin-left: 40px;
    margin-right: 40px;
    height: auto;
    padding: 50px;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    

}

.cards{
    border: 10px solid yellow;
    width: 900px;
    height: auto;

}
mat-card-title{
    text-align: center;
}
.example-card {
    max-width: 400px;
    margin-left: 30%;
    margin-right: 30%;
    
}
.example-card:hover {
    background-color: black;
    color:white;
    transition: 0.5s;
    cursor: pointer;

}
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }