<app-header></app-header>

<div class="contenedor">
    <div class="header-home">
        <h1>Bienvenido {{USER_NAME}}!</h1>
    </div>
    <div class="carteras-contenedor">
        <mat-card class="subtitulo">
            <div>
                <h1>Mis Carteras</h1>
            </div>
            
        </mat-card>
        <div class="contenedor-cards">
            <mat-card class="example-card" (click)="goToCard()">
                <mat-card-header>
                  <mat-card-title>Mi cartera</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../assets/images/cartera2.jpg" alt="Photo of a Shiba Inu">
            </mat-card>

        </div>
        

    </div>

</div>
