<app-header></app-header>
<div class="all">
    <div class="contenedor">
        <mat-card class="formsAuth">
            <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
                <mat-tab label="Iniciar Sesion">
                    <app-login></app-login> 
                </mat-tab>
                <mat-tab label="Registro">
                    <app-register></app-register>
                </mat-tab>
            </mat-tab-group>
        </mat-card>

        <div class="imagen-inicio">
            <!-- <img src="../../../assets/images/imagen-inicio.jpeg" alt=""> -->
        </div>
    </div>

    
</div>

