<app-header></app-header>

<div class="cartera-contenedor">
    <button style="margin-left: 40px;margin-bottom: 40px;"  (click)="backClicked()" mat-button color="primary">
        <span class="material-icons button-back">
            arrow_back
        </span>
    </button>
    <mat-card class="subtitulo">
        <div >
            <h1>Mi Cartera</h1>
        </div>
        <div>
            <button (click)="addLetra()" mat-raised-button color="primary"> Agregar Letra</button>
            <button style="margin-left: 15px;" (click)="abrirModalResulTotales()" mat-raised-button color="warn" > Resultados Totales</button>
        </div>
      </mat-card>
    <div class="contenedor-cards">
        <div class="tabla-citas">
            <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef>Nombre Letra</th>
                  <td mat-cell *matCellDef="let element"> <p class="ellipsis"><b>{{element.name}}</b> </p> </td>
                </ng-container>
              
                <ng-container matColumnDef="val_nominal">
                  <th mat-header-cell *matHeaderCellDef>Valor Nominal</th>
                  <td mat-cell *matCellDef="let element" [matTooltip]="element.titulo"> <p class="ellipsis"> <b >{{element.value_nominal}}</b></p></td>
                </ng-container>

                <ng-container matColumnDef="tasa">
                  <th mat-header-cell *matHeaderCellDef>Tasa</th>
                  <td mat-cell *matCellDef="let element" [matTooltip]="element.titulo"> <p class="ellipsis"> <b >{{(element.rate)*100}}%</b></p></td>
                </ng-container>
              
                <ng-container matColumnDef="f_descuento">
                  <th mat-header-cell *matHeaderCellDef>Fecha Descuento</th>
                  <td mat-cell *matCellDef="let element"> <p class="ellipsis"><b> {{element.date_discount}}</b> </p>  </td>
                </ng-container>
              
                <ng-container matColumnDef="f_vencimiento">
                  <th mat-header-cell *matHeaderCellDef>Fecha Vencimiento</th>
                  <td mat-cell *matCellDef="let element"> <p> <b> {{element.date_end}}</b> </p>  </td>
                </ng-container>
        
                <ng-container matColumnDef="value_neto">
                    <th mat-header-cell *matHeaderCellDef>Valor Neto</th>
                    <td mat-cell *matCellDef="let element"> 
                        <p class="ellipsis"><b>{{element.value_net}}</b></p>
                    </td>
                </ng-container>

                <ng-container matColumnDef="value_reci">
                  <th mat-header-cell *matHeaderCellDef>Valor Recibido</th>
                  <td mat-cell *matCellDef="let element"> 
                      <p class="ellipsis"><b>{{element.value_received}}</b></p>
                  </td>
              </ng-container>

              <ng-container matColumnDef="value_entre">
                <th mat-header-cell *matHeaderCellDef>Valor Entregado</th>
                <td mat-cell *matCellDef="let element"> 
                    <p class="ellipsis"><b>{{element.value_delivered}}</b></p>
                </td>
              </ng-container>

              <ng-container matColumnDef="tcea">
                <th mat-header-cell *matHeaderCellDef>TCEA</th>
                <td mat-cell *matCellDef="let element"> 
                    <p class="ellipsis"><b>{{(element.tcea)*100}}%</b></p>
                </td>
              </ng-container>
        
                <ng-container matColumnDef="detalles">
                <th mat-header-cell *matHeaderCellDef> Detalles </th>
                <td mat-cell *matCellDef="let element; let i = index;">
                  <button (click)="verDetalles(element)" mat-button color=primary >
                    <span class="material-icons"> info </span>
                  </button>
                </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>  
        </div>

    </div>
    

</div>
