<div class="contenedor">
    <div>
        <h1>Detalles de la Letra - {{letter.name}}</h1>
    </div>
    <mat-card>
      
      <div class="datos">
        <div>
          <h3>Nombre</h3>
          <h4>{{letter.name}}</h4>
        </div>
  
        <div>
          <h3>Tasa</h3>
          <h4>{{letter.rate}}%</h4>
        </div>

        <div>
            <h3>Tipo de Tasa</h3>
            <h4>{{letter.type_rate}}</h4>
        </div>
  
        <div>
          <h3>Tasa Descontada</h3>
          <h4>{{letter.rate_discount}}%</h4>
        </div>

        <div>
            <h3>Fecha de Emision</h3>
            <h4>{{letter.date_start}}</h4>
        </div>

        <div>
            <h3>Fecha de Vencimiento</h3>
            <h4>{{letter.date_end}}</h4>
        </div>

        <div>
            <h3>Fecha de Descuento</h3>
            <h4>{{letter.date_discount}}</h4>
        </div>


  
        <div>
          <h3>Descuento</h3>
          <h4>S/. {{letter.discount}}</h4>
        </div>
  
        <div>
          <h3>Retencion</h3>
          <h4>S/. {{letter.retention}}</h4>
        </div>

        <div>
            <h3>Valor Nominal</h3>
            <h4>S/. {{letter.value_nominal}}</h4>
          </div> 
  
        <div>
          <h3>Valor Neto</h3>
          <h4>S/. {{letter.value_net}}</h4>
        </div> 

        <div >
            <h3>Valor a Recibir</h3>
            <h4>S/. {{letter.value_received}}</h4>
        </div>

        <div >
            <h3>Valor a Entregar</h3>
            <h4>S/. {{letter.value_delivered}}</h4>
        </div>

        <div >
            <h3>TCEA</h3>
            <h4>{{letter.tcea}}%</h4>
        </div>

        <div >
            <h3>Valor a Recibir</h3>
            <h4>S/. {{letter.value_received}}</h4>
        </div>
  
        
  
      </div>
    </mat-card>
  </div>
