<div>
    <div>
        <h1>Nueva Letra</h1>
    </div>

    <div *ngIf="!STEP">
        <div>
            <!-- <button mat-button (click)="agregarCosIniciales()">Costos Iniciales</button> -->
            <form class="formulario" [formGroup]="newLetra1Form">

                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Ingresa el nombre de la letra" formControlName="nombre">
                </mat-form-field>


                <mat-form-field appearance="fill">
                    <mat-label>Dias por Año</mat-label>
                    <mat-select formControlName="diasxaño">
                      <mat-option [value]="360">
                        360
                      </mat-option>
                      <mat-option [value]="365">
                        365
                      </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Plazo de Tasa</mat-label>
                    <mat-select formControlName="plazoTasa" >
                      <mat-option *ngFor="let plazo of PLAZO_TASA" [value]="plazo.value">
                        {{plazo.nombre}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Tipo de Tasa</mat-label>
                    <mat-select formControlName="tipoTasa" (selectionChange)="selectTipoTasa($event)">
                      <mat-option [value]="'efectiva'">
                        Efectiva
                      </mat-option>
                      <mat-option [value]="'nominal'">
                        Nominal
                      </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" *ngIf="!flgTipoTasa">
                    <mat-label>Tasa Efectiva</mat-label>
                    <input matInput placeholder="Ingresa ela tasa efectiva" formControlName="tasaEfec">
                    <span matSuffix>%</span>
                    <mat-error *ngIf="tasaEfec.hasError('pattern')">Ingrese un valor válido</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" *ngIf="flgTipoTasa">
                    <mat-label>Tasa Nominal</mat-label>
                    <input matInput placeholder="Ingresa la tasa nominal" formControlName="tasaNomi">
                    <span matSuffix>%</span>
                    <mat-error *ngIf="tasaNomi.hasError('pattern')">Ingrese un valor válido</mat-error>
                </mat-form-field>


                <!-- <mat-form-field appearance="fill" *ngIf="flgTipoTasa">
                    <mat-label>Periodo de Capitalización</mat-label>
                    <input matInput placeholder="Ingresa el periodo de Capitalización" formControlName="periodoCapi">
                </mat-form-field> -->

                <mat-form-field appearance="fill">
                  <mat-label>Periodo de Capitalización</mat-label>
                  <mat-select formControlName="periodoCapi" >
                    <mat-option *ngFor="let plazo of PLAZO_TASA" [value]="plazo.value">
                      {{plazo.nombre}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>

                <div></div>
                <button (click)="nextStep()" [disabled]="!newLetra1Form.valid" class="button-login" style="grid-column: 2/3;" mat-raised-button color="primary">
                    Siguiente
                </button>

            </form>

        </div>

    </div>

    <div *ngIf="STEP">
        <div>
            <!-- <button mat-button (click)="agregarCosIniciales()">Costos Iniciales</button> -->
            <form class="formulario" [formGroup]="newLetra2Form">

                <mat-form-field appearance="fill">
                    <mat-label>Fecha de Emision</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="fechaEmision" [min]="TODAY_DATE" (dateChange)="FEmisionChanged($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Fecha de Vencimiento</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="fechaVencimiento" [min]="FEmi" (dateChange)="FVenciChanged($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Fecha de Descuento</mat-label>
                <input matInput [matDatepicker]="picker" [disabled]="!fechaVencimiento.value" formControlName="fechaDescuento" [min]="FEmi" [max]="FVenci">
                    <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Valor Nominal</mat-label>
                    <input matInput placeholder="Ingresa el valor nominal" formControlName="valorNominal">
                    <span matPrefix>S/</span>
                    <mat-error *ngIf="valorNominal.hasError('pattern')">Solo se aceptan valores numéricos</mat-error>
                    <mat-error *ngIf="valorNominal.hasError('required')">Campo obligatorio</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Retencion</mat-label>
                    <input matInput placeholder="Ingresa la retencion" formControlName="retencion">
                    <span matPrefix>S/</span>
                    <mat-error *ngIf="retencion.hasError('pattern')">Solo se aceptan valores numéricos</mat-error>
                    <mat-error *ngIf="retencion.hasError('required')">Campo obligatorio</mat-error>
                </mat-form-field>

                <!-- <div style="grid-column: 1/3;">
                    <h2>Costos Iniciales
                        <button (click)="addCI()" mat-button color=primary >
                            <span class="material-icons"> add </span>
                        </button>
                    </h2>
                </div>

                <div *ngFor="let item of CI" style="grid-column: 1/3;">
                    <mat-form-field appearance="fill" style="margin-left: 40px;">
                        <mat-label>Motivo</mat-label>
                        <input matInput placeholder="Ingresa la retencion" formControlName="CIMotivo">
                    </mat-form-field>

                    <mat-form-field appearance="fill" [floatLabel]="'always'" style="margin-left: 40px;">
                        <mat-label>Expresado en efectivo</mat-label>
                        <span matPrefix>S/</span>
                        <input matInput  formControlName="CIExpresadoEn">
                        <mat-error *ngIf="CIExpresadoEn.hasError('pattern')">Solo se aceptan valores numéricos</mat-error>
                        <mat-error *ngIf="CIExpresadoEn.hasError('required')">Campo obligatorio</mat-error>
                    </mat-form-field>
                </div>



                <div style="grid-column: 1/3;">
                    <h2>Costos Finales
                        <button (click)="addCF()" mat-button color=primary >
                            <span class="material-icons"> add </span>
                        </button>
                    </h2>
                </div>
                <div *ngFor="let item of CF" style="grid-column: 1/3;">
                    <mat-form-field appearance="fill" style="margin-left: 40px;">
                        <mat-label>Motivo</mat-label>
                        <input matInput placeholder="Ingresa la retencion" formControlName="CFMotivo">
                    </mat-form-field>

                    <mat-form-field appearance="fill" [floatLabel]="'always'" style="margin-left: 40px;">
                        <mat-label>Expresado en efectivo </mat-label>
                        <input matInput  formControlName="CFExpresadoEn">
                        <span matPrefix>S/</span>
                        <mat-error *ngIf="CFExpresadoEn.hasError('pattern')">Solo se aceptan valores numéricos</mat-error>
                        <mat-error *ngIf="CFExpresadoEn.hasError('required')">Campo obligatorio</mat-error>
                    </mat-form-field>

                </div>
                -->
              <div style="grid-column: 1/3;">
                <h2>Costos Iniciales y Finales
                  <button (click)="addExpenseFeature()" mat-button color=primary >
                    
                  </button>
                </h2>
              </div>

              <form [formGroup]="myForm">
                <button mat-button (click)="addNewExpensesInicial()">Agregar Costo Inicial <span class="material-icons"> add </span></button><br><br>
                <div formArrayName="expensesIniciales">
                  <div *ngFor="let comp of myForm.get('expensesIniciales').controls; let i=index">
                    <fieldset>
                      <legend>
                        <h3>Costos Inicial - {{i+1}}</h3>
                      </legend>
                      <fieldset>
                        <div [formGroupName]="i" class="costes">
                            <mat-form-field appearance="fill">
                                <mat-label>Motivo</mat-label>
                                <input formControlName="name"  matInput>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Valor</mat-label>
                                <input formControlName="value"  matInput>
                            </mat-form-field>
                          <!-- <label>Expense Name:</label>
                          <input formControlName="name" />
                          <label>Value:</label>
                          <input formControlName="value" /> -->
                        </div>
                      </fieldset>
                      <span><button mat-raised-button color="warn" (click)="deleteExpenseInicial(i)">Borrar</button></span>
                    </fieldset>
                  </div>
                </div><br>
              </form>
              <form [formGroup]="myForm">
                <button mat-raised-button (click)="addNewExpensesFinal()">Agregar Costo Final <span class="material-icons"> add </span></button><br><br>
                <div formArrayName="expensesFinales">
                  <div *ngFor="let comp of myForm.get('expensesFinales').controls; let i=index">
                    <fieldset>
                      <legend>
                        <h3>Costo Final - {{i+1}}</h3>
                      </legend>
                      <fieldset>
                        <div [formGroupName]="i" class="costes">
                            <mat-form-field appearance="fill" >
                                <mat-label>Motivo</mat-label>
                                <input formControlName="name"  matInput>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Valor</mat-label>
                                <input formControlName="value"  matInput>
                            </mat-form-field>
                          <!-- <label>Expense Name:</label>
                          <input /> -->
                          <!-- <label>Value:</label>
                          <input formControlName="value" /> -->
                        </div>
                      </fieldset>
                      <span><button mat-raised-button color="warn" (click)="deleteExpenseFinal( i)">Borrar</button></span>
                    </fieldset>
                  </div>
                </div><br>
              </form>
                <button (click)="addLetra()" [disabled]="!newLetra2Form.valid" class="button-login" style="grid-column: 1/3;" mat-raised-button color="primary">
                    AGREGAR
                </button>

            </form>

        </div>

    </div>

</div>
